body {
    font-family: 'Montserrat', sans-serif;
}

.medclinic {
    position: absolute;
    width: 126px;
    height: 32px;
    left: 210px;
    top: 23px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252B42;
}

.logo {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: -1000px;
    /* Ubah sesuai dengan ukuran yang diinginkan */
    height: -10000px;
    /* Otomatis menyesuaikan tinggi sesuai proporsi */
}



form {
max-width: 400px;
background-color: #fff;
padding-left:900px;
padding-right:80px;
padding-top:300px;
border-radius: 5px;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
}

td {
    padding: 10px 0;
}

input[type="text"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #45a0c7;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 0.7px;

}

input[type="submit"]:hover {
    background-color:#0085be;

}

.error {
    color: red;
}
.home {
    position: absolute;
    top:18px;
    padding-left: 370px;
    padding-top: 12px;
    font-size: 18px;
 
}
.home a {
    text-decoration: none;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-right: 20px;
}


.home a:hover {
    color: #0085be;
}

.home a:active {
    color: #0085be
}

.image2 {
    position: absolute;
    left: 0px;
    top: -15px;
  
}
.image{
position: absolute;
padding-left: 100px;
top:70px;

}
.image3{
position: absolute;
padding-left:900px;
padding-top: 200px;
}

h1{
    position: absolute;
    padding-right: 80px;
    padding-left: 900px;
    padding-top:210px;
}
.custom-select{
    font-family: 'Montserrat', sans-serif;
}
.input{
    font-family: 'Montserrat', sans-serif;
}