body {
    font-family: 'Montserrat', sans-serif;
}

.medclinic {
    position: absolute;
    width: 126px;
    height: 32px;
    left: 210px;
    top: 23px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252B42;
}

.home {
    position: absolute;
    top:18px;
    padding-left: 370px;
    padding-top: 12px;
    font-size: 18px;
 
}

.home a {
text-decoration: none;
color: #000;
font-family: 'Montserrat', sans-serif;
font-weight: bold;
margin-right: 20px; 
}


.home a:hover {
    color: #0085be
;
}

.home a:active {
    color: #0085be

}

.image2 {
    position: absolute;
    width: -10px;
    height: 20px;
    left: 0px;
    top: -15px;
    background: url(img/image.png);
}
table {
    margin-top: 10px;
    width: 85%;
    border-collapse: collapse;
    margin-bottom: 20px; 
    border: 1px solid #BDBDBD;
    margin-left: auto;
    margin-right: auto;
  }
  
td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #45a0c7;
    color : #fff;
    padding: 10px;
}

tr:last-child td {
    border-bottom: none;
}
h1 {
    margin-top: 80px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}