body {
    font-family: 'Montserrat', sans-serif;
}

.medclinic {
    position: absolute;
    width: 126px;
    height: 32px;
    left: 210px;
    top: 23px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252B42;
}



form {
    max-width: 400px;
    background-color: #fff;
    padding-left: 900px;
    padding-right:80px;
    padding-top: 300px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
}

td {
    padding: 10px 0;
}

input[type="text"],
select,
input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #45a0c7;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;

}

input[type="submit"]:hover {
    background-color: #0085be;

}

.error {
    color: red;
}
/* .home {
    position: absolute;
    left:30px;
    top:12px;
    padding-left: 30px;
    padding-top: 12px;
 
} */
/* .home a {
    text-decoration: none;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-right: 20px;
}


.home a:hover {
    color: #737373;
}

.home a:active {
    color: #737373
} 
 */
.image2 {
    position: absolute;
    left: 0px;
    top: -15px;
  
}
.image{
position: absolute;
padding-left: 120px;
top:70px;

}
.image3{
position: relative;
padding-top: 200px;
    }

h1{
    position: absolute;
    padding-right: 0px;
    padding-left: 980px;
    padding-top:210px;
}

.home1{
    position: absolute;
    top:20px;
    right: 45px;
}
.button {

    font-weight: 800;
    display: inline-block;
    padding: 8px 16px;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

/* .button:hover {
    background-color: darkgreen;
} */
.image3{
position: absolute;
padding-left:900px;
top:10px;
}

/* .image2 {
    position: absolute;
    left: -10px;
    top: -78px;
} */
h1{
    position: absolute;
    padding-right: 0px;
    padding-left: 900px;
    padding-right:80px;
    padding-top:210px;
}

.register-button {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    background-color: #45a0c7;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;

}
.register-button:hover {
    background-color: #0085be;

}
.button {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.login-button {
    background-color:#45a0c7;
    color: white;
}
.login-button:hover{
    background-color: #0085be;
}
.signup-button{
    background-color: white;
    color: white;
    

}

.signup-button:hover{
    background-color: white;
}

.button:hover {
    opacity: 0.8;
}
/* .home{
    position: absolute;
    top:10px;   
    left: 400px;
} */

.home {
    position: absolute;
    top:7px;
    padding-left: 370px;
    padding-top: 12px;
    font-size: 18px;
 
}
.input{
    font-family: 'Montserrat', sans-serif;
}