body {
    font-family: 'Montserrat', sans-serif;
}

        .db {
            display: flex;
            justify-content: flex-end;
            padding: 20px;
        }

        .db a {
            display: inline-block;
            margin-left: 10px;
            padding: 8px 16px;
            border-radius: 4px;
            text-decoration: none;
            color: #fff;
        }

        .dashboard {
            background-color: #45a0c7;
        }

        .login {
            background-color: #45a0c7;
        }

        .register {
            background-color: #45a0c7;
        }
        .register-button {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    background-color: #45a0c7;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;

}
.register-button:hover {
    background-color: #0085be;

}
.button {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.login-button,.dashboard {
    position: absolute;
    top:20px;
    right: 45px;
    background-color:#45a0c7;
    color: white;
}
.login-button:hover,.dashboard:hover{
    background-color: #0085be;
}
.signup-button{
    position: absolute;
    top:20px;
    right: 132px;
    background-color: white;
    color: white;
    

}

.signup-button:hover{
    background-color: white;
}

.button:hover {
    opacity: 0.8;
}

.medclinic {
    position: absolute;
    width: 126px;
    height: 32px;
    left: 210px;
    top: 23px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252B42;
}
.home {
    position: absolute;
    top:7px;
    padding-left: 370px;
    padding-top: 12px;
    font-size: 18px;
 
}
.home a {
    text-decoration: none;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-right: 20px;
}


.home a:hover {
    color: #45a0c7;
}

.home a:active {
    color: #45a0c7
} 
.content{
    padding-top: 550px;
}

.welcome{
    position: absolute;
/* width: 81px; */
height: 24px;
left: 115px;
top: 223px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.1px;


color: #45a0c7;
}

.meet {
position: absolute;
width: 542px;
height: 160px;
left: 113px;
top: 190px;
font-family: 'Montserrat', sans-serif;
font-weight: bold; /* Atur font menjadi lebih tebal */
font-size: 58px;
line-height: 80px;
letter-spacing: 0.2px;
color: #252B42;
}

.silahkan {
        position: absolute;
        width: 466px;
        height: 60px;
        left: 117px;
        top: 410px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        font-size: 26px;
        line-height: 20px;
        
        letter-spacing: 0.2px;
        color: #000;
    }

    .first-line {
        margin-bottom: 0; /* Menghapus margin bawah pada baris pertama */
    }

    .blue-text {
        color:#0085be;
    }
.register2 {
    position: absolute;
    top:540px;
    left:100px;
    background-color: #45a0c7;
    border: none;
    color: white;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 109px; 
    font-weight: 700px;
    
    }

    .register2:hover{
        background-color: #0085be;
    }
    .image {
position: absolute;
right: 90px; /* Mengatur jarak dari tepi kanan */
top:70px;
}

.image2 {
    position: absolute;
    width: -10px;
    height: 20px;
    left: 0px;
    top: -15px;
    background: url(img/image.png);
}
.home1{
   
    font-size: 16px;
    font-weight: 800;
}